* {
    main-bg:            #0F1A2AB3;
    main-fg:            #CCE1FFE6;
    main-br:            #695476E6;
    main-ex:            #506182E6;
    select-bg:          #F0AABA80;
    select-fg:          #522932E6;
}
